<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap & Font Awesome -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .main {
            flex-grow: 1;
        }

        .sidebar {
            min-height: 100vh;
        }

        .navbar {
            background-color: white !important;
            border-bottom: 1px solid #dee2e6;
            box-shadow: none;
        }

        .row.g-0>[class^="col-"] {
            border: none !important;
        }
    </style>
</head>

<body>

    <div class="container-fluid main  p-0">
        <div class="row g-0">

            <!-- Sidebar -->
            <div class="col-md-3 col-lg-2 bg-dark p-0 sidebar">
                <%- include('../layouts/sidebar') %>
            </div>

            <!-- Main Content + Header -->
            <div class="col-md-9 col-lg-10 p-0">
                <%- include('../layouts/header') %>

                    <div class="p-4">
                        <h3 class="text-primary mb-4">Users Posts</h3>

                        <% if (message && message.length> 0) { %>
                            <div class="alert alert-info">
                                <%= message %>
                            </div>
                            <% } %>
                                <form method="GET" action="/admin/profile-list" class="d-flex mb-4" role="search">
                                    <input type="text" name="query" class="form-control me-2 border border-secondary"
                                        placeholder="Search by name or email"
                                        value="<%= typeof query !== 'undefined' ? query : '' %>">
                                    <button class="btn btn-outline-primary" type="submit">Search</button>
                                </form>

                                <div class="table-responsive">
                                    <table
                                        class="table table-bordered table-hover table-striped align-middle text-start text-wrap">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Created At</th>
                                                <th>Text</th>
                                                <th>Likes</th>
                                                <th>Comments</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (posts && posts.length> 0) { %>
                                                <% posts.forEach((post, index)=> { %>
                                                    <tr>
                                                        <td>
                                                            <%= index + 1 %>
                                                        </td>
                                                        <td>
                                                            <%= post.user?.name || 'N/A' %>
                                                        </td>
                                                        <td>
                                                            <%= post.user?.email || 'N/A' %>
                                                        </td>
                                                        <td>
                                                            <%= post.date ? new Date(post.date).toDateString() : 'N/A'
                                                                %>

                                                        </td>
                                                        <td>
                                                            <%= post.text || 'N/A' %>
                                                        </td>


                                                        <!-- Likes -->
                                                        <td>
                                                            <% if (post.likes && post.likes.length> 0) {
                                                                %>

                                                                <span class="text-muted">
                                                                    <%=post.likes.length%>
                                                                </span>

                                                                <% } else { %>
                                                                    <span class="text-muted">No likes</span>
                                                                    <% } %>
                                                        </td>



                                                        <!-- comments -->
                                                        <td>
                                                            <% if(post.comments && post.comments.length>0){%>
                                                                
                                                                    <%post.comments.forEach((comment)=>{  %>
                                                                      <span class="text-muted"><%=comment.text%></span>
                                                                      <% });%>
                                                                <% } else {%>
                                                                    <span class="text-muted">No comments</span>
                                                                    <%} %>
                                                        </td>

                                                        <td>
                                                            <form action="/admin/delete/post/<%= post._id %>"
                                                                method="POST" class="d-inline">
                                                                <button type="submit" class="btn btn-sm btn-danger"
                                                                    onclick="return confirm('Are you sure?')">
                                                                    <i class="fas fa-trash-alt"></i> Delete
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                        <% } else { %>
                                                            <tr>
                                                                <td colspan="9" class="text-center text-muted">No
                                                                    profiles found.</td>
                                                            </tr>
                                                            <% } %>
                                        </tbody>

                                    </table>
                                </div>
                    </div>
                    <%- include('../layouts/footer') %>
            </div>

        </div>
    </div>

    <!-- Footer -->


    <!-- JS Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>